artsite/__pycache__
venv
artsite.code-workspace
main_app/__pycache__/
artsite/settings_secret.py
db.sqlite3
main_app/migrations/__pycache__
.env
node_modules/
media/dest
media/source
main_app/static/scss/
.sass-cache
.vscode
gruntfile.js
package-lock.json
package.json
staticfiles
