asn1crypto==0.24.0
astroid==1.6.5
awscli==1.16.57
boto==2.48.0
boto3==1.9.46
botocore==1.12.47
cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
crcmod==1.7
cryptography==2.4.2
dj-database-url==0.5.0
Django==2.0.8
django-environ==0.4.5
django-heroku==0.3.1
django-sendgrid-v5==0.7.0
-e git+https://github.com/jschneier/django-storages.git@affeed7a65aec690e2f464ce9eca01251bdf5d59#egg=django_storages
docutils==0.14
fasteners==0.14.1
future==0.17.1
gunicorn==19.9.0
httplib2==0.12.0
idna==2.7
isodate==0.6.0
isort==4.3.4
jmespath==0.9.3
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
monotonic==1.5
msrest==0.6.2
oauth2client==4.1.3
oauthlib==2.1.0
pbr==5.1.1
Pillow==5.1.0
postgres==2.2.2
protobuf==3.15.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyJWT==1.6.4
pylint==1.9.2
pyOpenSSL==18.0.0
python-dateutil==2.7.5
python-dotenv==0.9.1
python-gflags==3.1.2
python-http-client==3.1.0
pytz==2018.4
pyu2f==0.1.4
requests==2.20.1
requests-oauthlib==1.0.0
retry-decorator==1.1.0
rsa==3.4.2
s3transfer==0.1.13
sendgrid==5.6.0
six==1.11.0
SocksiPy-branch==1.1
urllib3==1.24.1
whitenoise==4.1.1
wrapt==1.10.11
