{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main> 
  <div class="row">
    <div class="col-md-12">
      {% if validlink %}
        <h1>Change password</h1>
        <br></br> 
        <form method="post">
          {% csrf_token %}
          <p>{{ form.new_password1 }} - Must be at least 8 characters and cannot be entirely numeric.</p> 
          <p>{{ form.new_password1.label }}</p>
          <p>{{ form.new_password2 }}</p>
          <p>{{ form.new_password2.label }}</p>
          <input type="submit" value="Change password">
        </form>
      {% else %}
        <br></br>
        <p>The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.</p>
      {% endif %}
    </div>
  </div> 
</main> 
{% endblock %}