{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">
        <p>Hey! This is a site for artists to post their pieces of art
          and correspond with other artists. If you are interested in a 
          particular artist, please visit their profile page to see their
          contact information. Have fun!</p>
      </div>
    </div> 
  </main>
{% endblock %}

