{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <div class="row">
      <div class="col-md-12">
        <h1>Contact</h1>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">
        <p>Have questions or comments about this site? Enter them below!
          If you wish to reach a specific artist featured on this site,
          please visit their profile page to contact them directly.</p>
      </div>
    </div> 
    <br></br>
    <div class="row">
      <div class="col-md-12">
        <form method='post' action'.'>
          {% csrf_token %}
          <p>{{ form.text }}</p>
          <p>{{ form.text.label }}</p>
          <p>{{ form.email }}</p>
          <p>{{ form.email.label }}</p>
          <p>{{ form.name }}</p>
          <p>{{ form.name.label }}</p>
          <input type='submit' value='Submit'/>
        </form>
      </div>
    </div> 
  </main>
{% endblock %}