{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <section class="center">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ piece.name }}</h1>
          {% if request.user.is_authenticated and piece.user == request.user  %}
            <a href="{% url 'edit_piece' piece.id %}">
              Click here to edit this piece!
            </a>
          {% endif %} 
        </div>
      </div>
    </section> 
    <div class="row">
      <div class="col-md-12">
        <article class="detail">
          <img src="{{ piece.image.url }}" alt="image of art piece"> 
        </article>
      </div>
    </div>  
    <br>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <td>
              <button id="likes" data-id="{{ piece.id }}"
              class="btn btn-mini btn-danger glyphicon glyphicon-heart"
              type="button">{% if piece.likes > 0 %} {{ piece.likes }} {% endif %}</button>
            </td>
          </tr>
        </table> 
    {% for post in posts %}
      <hr> 
      <div class="row">
        <div class="col-md-12">
          <table class="post">
            <tr>
              <td>
                <a href="{% url 'profile' post.user.username %}">
                  <img src="{{ post.user.profile.image.url }}" alt="user profile image">
                </a>
              </td> 
              <td> 
                <p><strong><a href="{% url 'profile' post.user.username %}" style="{text-sty}">{{ post.user.username }}:</a></strong> {{ post.body }}</p>
              </td>
            </tr> 
          </table>
        </div> 
      </div> 
    {% endfor %}
    {% if request.user.is_authenticated %}
    <hr> 
    <div class="row">
      <div class="col-md-12">
        <br>
        <form action="{% url 'post' piece.id %}" method='post'>
          {% csrf_token %}
          <p>{{ post_form.body }}</p>
          <input type='submit' value='Post'/>
        </form>
      </div>
    </div> 
  {% endif %}
  </main> 
{% endblock %}