{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<main>
  <div class="row">
    <div class="col-md-12">
      <h1>Edit {{ piece.name }}</h1>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-12"> 
        <img src="{{ piece.image.url }}" alt="image of art piece">        
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <form enctype='multipart/form-data' method="post">
        {% csrf_token %}
        <p class="padding">{{ form.image }}</p>
        <p>{{ form.name }}</p>
        <p>{{ form.name.label }}</p>
        <p>{{ form.delete_piece }} Delete Piece?</p>
        <input type="submit" value="Save changes">
      </form>
    </div>
  </div> 
</main>
{% endblock %}