{% extends "base.html" %}
{% load staticfiles %}

{% block content %} 
  <main> 
    <h1 class="index"> Welcome to ArtSite!</h1>
    <div class="row">
    {% for user in users %}
      <div class="col-md-4">
        <article class="index">
          <a href="{% url 'profile' user.username %}">
            <img src="{{ user.profile.image.url }}">
            <p>Art by {{ user.username }}</p>
          </a> 
        </article> 
      </div>
    {% if forloop.counter|divisibleby:3 %}
      </div><div class="row">
    {% endif %}
    {% endfor %}
    </div> 
  </main>   
{% endblock %}