{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <main>
    <div class="row">
      <div class="col-md-12">
        <h1>Sign In</h1>
      </div>
    </div>
    <br></br> 
    <div class="row">
      <div class="col-md-12"> 
        <form method='post' action'.'>
          {% csrf_token %}
          <p>{{ form.username }}
          <p>{{ form.username.label }}</p>
          <p>{{ form.password }}</p>
          <p>{{ form.password.label }}</p>
          <input type='submit' value='Submit'/>
        </form>
      </div>
    </div> 
    <br></br> 
    <div class="row">
      <div class="col-md-12">
        <p>Forgot Your Password?</p>
        <a href="{% url 'password_reset' %}">Click to Reset Password</a>
      </div>
    </div> 
  </main> 
{% endblock %}



