{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <table>
      <tr>
        <td width="16em"></td>
        <td>
          <h1>{{ user.username }}</h1>
          {% if user.profile.bio %}<p>{{ user.profile.bio }}</p>{% endif %}
          <p>Email: {{ user.email }}</p>
        </td>
      </tr>
    </table>
    {% if request.user.is_authenticated and user == request.user %}
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    {% endif %}
    {% for piece in pieces %}
    <article>
      <a href="#">
        <h3>piece</h3>
      </a> 
    </article> 
    {% endfor %}
    {% if request.user.is_authenticated and user == request.user %}
    <p>Want to add a piece? Do so below!</p>
    <form enctype='multipart/form-data' action='post_url/' method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type='submit' value='Submit'/>
    </form>
    {% endif %}
  </main> 
{% endblock %}
